node-red/.flows.json.backup
[{"id":"1a4baac.4a80555","type":"tab","label":"Immagine da movimento","disabled":false,"info":""},{"id":"e11a3c4d.05ace","type":"tab","label":"GIF","disabled":false,"info":""},{"id":"81cfb168.0c7d6","type":"tab","label":"Motion ","disabled":true,"info":""},{"id":"f8898bd.c141078","type":"tab","label":"Bridge Casa nonna","disabled":false,"info":""},{"id":"ba81472c.a24dc8","type":"server","z":"","name":"Home Assistant"},{"id":"6d07e0a5.2a389","type":"mqtt-broker","z":"","name":"Local nonna","broker":"core-mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac15700d.323e5","type":"mqtt-broker","z":"","name":"bridge cloud mqtt","broker":"postman.cloudmqtt.com","port":"16830","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85197a5b.204d58","type":"mqtt-broker","z":"","name":"bridge cloud mqtt","broker":"postman.cloudmqtt.com","port":"16830","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f68fe6e6.c403a8","type":"server","z":"","name":"Home Assistant nicc","legacy":true,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"b775718a.10341","type":"server","z":"","name":"Home Assistant Nonna","legacy":true,"hassio":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"38355701.b9cb88","type":"position-config","z":"","name":"","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12"},{"id":"1f997cdc.bb6a23","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"220042bb.fc740e","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open"},{"id":"6204faf9.508884","type":"ui_group","z":"","name":"Latest Image","tab":"915714b.d20bbe8","disp":true,"width":"12","collapse":false},{"id":"ce7c4d22.20585","type":"ui_group","z":"","name":"Time Shift","tab":"915714b.d20bbe8","order":2,"disp":true,"width":"12","collapse":false},{"id":"915714b.d20bbe8","type":"ui_tab","z":"","name":"Main","icon":"dashboard"},{"id":"458d955.ee7396c","type":"ui_group","z":"","name":"Latest Image","tab":"51d134c.00072cc","disp":true,"width":"12","collapse":false},{"id":"a4c7085d.8ed6a8","type":"ui_group","z":"","name":"Time Shift","tab":"51d134c.00072cc","order":2,"disp":true,"width":"12","collapse":false},{"id":"51d134c.00072cc","type":"ui_tab","z":"","name":"Main","icon":"dashboard"},{"id":"a2027c06.76ce8","type":"mqtt out","z":"f8898bd.c141078","name":"","topic":"niccolo/haON","qos":"","retain":"","broker":"ac15700d.323e5","x":520,"y":20,"wires":[]},{"id":"12cc2ec0.e6f951","type":"trigger","z":"f8898bd.c141078","op1":"hassio_on","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Notifica Start Hassio","x":300,"y":20,"wires":[["a2027c06.76ce8"]]},{"id":"5e4933dd.b028cc","type":"mqtt in","z":"f8898bd.c141078","name":"","topic":"nonna_ha_on","qos":"2","datatype":"auto","broker":"6d07e0a5.2a389","x":90,"y":20,"wires":[["12cc2ec0.e6f951"]]},{"id":"772a8bb7.3ceaa4","type":"mqtt in","z":"81cfb168.0c7d6","name":"","topic":"nonna_int_giardino","qos":"2","datatype":"auto","broker":"6d07e0a5.2a389","x":150,"y":80,"wires":[["5ed48a18.d2ddf4"]]},{"id":"50fed34c.e6270c","type":"mqtt in","z":"81cfb168.0c7d6","name":"","topic":"nonna_int_gp","qos":"2","datatype":"auto","broker":"6d07e0a5.2a389","x":130,"y":200,"wires":[["46ac7924.e0c7c8"]]},{"id":"36acc823.ba5978","type":"mqtt in","z":"81cfb168.0c7d6","name":"","topic":"nonna_int_portico","qos":"2","datatype":"auto","broker":"6d07e0a5.2a389","x":150,"y":300,"wires":[["b89382e8.f0ea3"]]},{"id":"6460b205.00d3dc","type":"mqtt out","z":"81cfb168.0c7d6","name":"","topic":"niccolo/giardino","qos":"","retain":"","broker":"ac15700d.323e5","x":660,"y":80,"wires":[]},{"id":"5ed48a18.d2ddf4","type":"trigger","z":"81cfb168.0c7d6","op1":"cam_giardino_armd","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Notifica Camera Giardino","x":430,"y":80,"wires":[["6460b205.00d3dc"]]},{"id":"8a6b2362.33a14","type":"mqtt out","z":"81cfb168.0c7d6","name":"","topic":"niccolo/gp","qos":"","retain":"","broker":"ac15700d.323e5","x":650,"y":200,"wires":[]},{"id":"46ac7924.e0c7c8","type":"trigger","z":"81cfb168.0c7d6","op1":"cam_gp_armd","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Notifica Retro Giardino","x":420,"y":200,"wires":[["8a6b2362.33a14"]]},{"id":"b89382e8.f0ea3","type":"trigger","z":"81cfb168.0c7d6","op1":"cam_portico_armd","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Notifica Portico Giardino","x":430,"y":300,"wires":[["7cf8cf06.119f2"]]},{"id":"7cf8cf06.119f2","type":"mqtt out","z":"81cfb168.0c7d6","name":"","topic":"niccolo/portico","qos":"","retain":"","broker":"ac15700d.323e5","x":660,"y":300,"wires":[]},{"id":"656f3a5e.57f324","type":"api-call-service","z":"81cfb168.0c7d6","name":"","server":"b775718a.10341","service_domain":"notify","service":"telegram_niccolo","data":"{\"data\":{\"attachment\":{\"content-type\":\"jpg\",\"url\":\"https://casanonna.duckdns.org:8123/local/portico.jpg\"}},\"message\":\"movimento dal portico\",\"title\":\"Casa Nonna\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1160,"y":780,"wires":[[]]},{"id":"6b4251e1.52323","type":"api-call-service","z":"81cfb168.0c7d6","name":"","server":"b775718a.10341","service_domain":"notify","service":"telegram_gp","data":"{\"data\":{\"photo\":{\"caption\":\"Casa Nonna\",\"url\":\"https://casanonna.duckdns.org:8123/local/giardino.jpg\"}},\"message\":\"movimento dal giardino\",\"title\":\"Casa Nonna\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1370,"y":460,"wires":[[]]},{"id":"dd8281a7.8257a","type":"api-call-service","z":"81cfb168.0c7d6","name":"","server":"b775718a.10341","service_domain":"notify","service":"telegram_niccolo","data":"{\"data\":{\"photo\":{\"caption\":\"Casa Nonna\",\"url\":\"https://casanonna.duckdns.org:8123/local/giardino.jpg\"}},\"message\":\"movimento dal giardino\",\"title\":\"Casa Nonna\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1380,"y":400,"wires":[[]]},{"id":"9564c847.b321d8","type":"api-call-service","z":"81cfb168.0c7d6","name":"","server":"b775718a.10341","service_domain":"notify","service":"telegram_niccolo","data":"{\"data\":{\"photo\":{\"caption\":\"Casa Nonna\",\"url\":\"https://casanonna.duckdns.org:8123/local/gp.jpg\"}},\"message\":\"movimento sul retro\",\"title\":\"Casa Nonna\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1560,"y":560,"wires":[[]]},{"id":"f8633761.125268","type":"api-call-service","z":"81cfb168.0c7d6","name":"","server":"b775718a.10341","service_domain":"notify","service":"telegram_gp","data":"{\"data\":{\"photo\":{\"caption\":\"Casa Nonna\",\"url\":\"https://casanonna.duckdns.org:8123/local/gp.jpg\"}},\"message\":\"movimento sul retro\",\"title\":\"Casa Nonna\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1570,"y":620,"wires":[[]]},{"id":"61709019.8d427","type":"delay","z":"81cfb168.0c7d6","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":500,"wires":[["a122dbac.976568"]]},{"id":"cf1040ac.38464","type":"delay","z":"81cfb168.0c7d6","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":620,"wires":[["3dbde203.ae14be"]]},{"id":"f15f10be.8dcf","type":"delay","z":"81cfb168.0c7d6","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":740,"wires":[["4a83461f.8c6118"]]},{"id":"a6c65331.6b722","type":"mqtt in","z":"81cfb168.0c7d6","name":"","topic":"nonna_int_gp","qos":"2","datatype":"auto","broker":"6d07e0a5.2a389","x":130,"y":640,"wires":[["846f73a8.67c82"]]},{"id":"846f73a8.67c82","type":"trigger","z":"81cfb168.0c7d6","op1":"cam_gp_armd","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Notifica Retro Giardino","x":420,"y":640,"wires":[["cf1040ac.38464"]]},{"id":"7c4260be.5a605","type":"mqtt in","z":"81cfb168.0c7d6","name":"","topic":"nonna_int_giardino","qos":"2","datatype":"auto","broker":"6d07e0a5.2a389","x":150,"y":520,"wires":[["d8744450.aa5f18"]]},{"id":"d8744450.aa5f18","type":"trigger","z":"81cfb168.0c7d6","op1":"cam_giardino_armd","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Notifica Camera Giardino","x":430,"y":520,"wires":[["61709019.8d427"]]},{"id":"33a345fb.a8c72a","type":"mqtt in","z":"81cfb168.0c7d6","name":"","topic":"nonna_int_portico","qos":"2","datatype":"auto","broker":"6d07e0a5.2a389","x":150,"y":740,"wires":[["764b533b.c2038c"]]},{"id":"764b533b.c2038c","type":"trigger","z":"81cfb168.0c7d6","op1":"cam_portico_armd","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"Notifica Portico Giardino","x":430,"y":740,"wires":[["f15f10be.8dcf"]]},{"id":"4a83461f.8c6118","type":"api-current-state","z":"81cfb168.0c7d6","name":"","server":"b775718a.10341","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1000,"y":740,"wires":[["656f3a5e.57f324"],[]]},{"id":"3dbde203.ae14be","type":"api-current-state","z":"81cfb168.0c7d6","name":"","server":"b775718a.10341","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":940,"y":620,"wires":[["5e0f7385.c1f91c","9564c847.b321d8"],[]]},{"id":"a122dbac.976568","type":"api-current-state","z":"81cfb168.0c7d6","name":"","server":"b775718a.10341","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":920,"y":420,"wires":[["7928b819.4e9c78","dd8281a7.8257a"],[]]},{"id":"5e0f7385.c1f91c","type":"within-time-switch","z":"81cfb168.0c7d6","name":"","positionConfig":"38355701.b9cb88","startTime":"20:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"8:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","lastMsgOnStartOut":false,"lastMsgOnEndOut":false,"x":1230,"y":620,"wires":[[],[]]},{"id":"2b4413a9.a843ec","type":"inject","z":"81cfb168.0c7d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":700,"wires":[["3dbde203.ae14be"]]},{"id":"7928b819.4e9c78","type":"within-time-switch","z":"81cfb168.0c7d6","name":"","positionConfig":"38355701.b9cb88","startTime":"20:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"8:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","lastMsgOnStartOut":false,"lastMsgOnEndOut":false,"x":1150,"y":440,"wires":[[],["d17f1506.55b018"]]},{"id":"d17f1506.55b018","type":"debug","z":"81cfb168.0c7d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1320,"y":520,"wires":[]},{"id":"23debea1.c21d62","type":"api-call-service","z":"1a4baac.4a80555","name":"","server":"b775718a.10341","version":1,"service_domain":"notify","service":"telegram_niccolo","entityId":"","data":"{\"data\":{\"photo\":{\"caption\":\"Casa Nonna\",\"url\":\"https://casanonna.duckdns.org:8123/local/portico.jpg\"}},\"message\":\"movimento dal portico\",\"title\":\"Casa Nonna\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2040,"y":100,"wires":[[]]},{"id":"2e007984.318fc6","type":"api-current-state","z":"1a4baac.4a80555","name":"","server":"b775718a.10341","version":"1","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1260,"y":80,"wires":[[],["90c0a103.4c2ee"]]},{"id":"90c0a103.4c2ee","type":"delay","z":"1a4baac.4a80555","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":80,"wires":[["5e612616.b0f048"]]},{"id":"a239e263.64f5a","type":"file","z":"1a4baac.4a80555","name":"","filename":"/config/www/portico.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":990,"y":80,"wires":[["4d605863.0d9d78","2e007984.318fc6","23debea1.c21d62"]]},{"id":"de74fafe.9135d8","type":"change","z":"1a4baac.4a80555","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$join([\"/config/www/\", payload.fileName])","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":80,"wires":[["24cda73c.040458","a239e263.64f5a"]]},{"id":"4d605863.0d9d78","type":"image","z":"1a4baac.4a80555","name":"","width":160,"x":1020,"y":120,"wires":[]},{"id":"f439cace.6609c8","type":"split","z":"1a4baac.4a80555","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":80,"wires":[["de74fafe.9135d8"]]},{"id":"24cda73c.040458","type":"image","z":"1a4baac.4a80555","name":"","width":160,"x":760,"y":120,"wires":[]},{"id":"cec1983c.9c79d8","type":"change","z":"1a4baac.4a80555","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"attachments","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":80,"wires":[["f439cace.6609c8"]]},{"id":"7407c13c.a30e5","type":"e-mail in","z":"1a4baac.4a80555","name":"ricevi mail da \"notifica casa busato\"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"30","fetch":"auto","inputs":0,"x":160,"y":80,"wires":[["cec1983c.9c79d8"]]},{"id":"5e612616.b0f048","type":"within-time-switch","z":"1a4baac.4a80555","name":"","positionConfig":"38355701.b9cb88","startTime":"20:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"8:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","lastMsgOnStartOut":false,"lastMsgOnEndOut":false,"x":1650,"y":80,"wires":[[],["aa781c6c.d5b4a"]]},{"id":"aa781c6c.d5b4a","type":"weekday","z":"1a4baac.4a80555","name":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":1820,"y":80,"wires":[["1d3df41c.97dabc"],[]]},{"id":"b54c593c.d67a58","type":"exec","z":"e11a3c4d.05ace","command":"/config/www/make-gif.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"fai gif","x":450,"y":40,"wires":[["de2db758.f83158"],[],[]]},{"id":"de2db758.f83158","type":"change","z":"e11a3c4d.05ace","name":"Finito","rules":[{"t":"set","p":"payload","pt":"msg","to":"Fatto.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":40,"wires":[["de9e1298.b06d8"]]},{"id":"300ed043.4585d","type":"change","z":"e11a3c4d.05ace","name":"In corso","rules":[{"t":"set","p":"payload","pt":"msg","to":"in corso...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":100,"wires":[[]]},{"id":"52ce6772.6458e8","type":"exec","z":"e11a3c4d.05ace","command":"rm -f /config/www/notte/gif/*.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Clear Images","x":1290,"y":40,"wires":[[],[],[]]},{"id":"d9efe672.92c738","type":"inject","z":"e11a3c4d.05ace","name":"Avvia processo ogni giorno","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"01 08 * * *","once":false,"onceDelay":0.1,"x":180,"y":40,"wires":[["300ed043.4585d","b54c593c.d67a58"]]},{"id":"f5f3af6a.3311b","type":"api-call-service","z":"e11a3c4d.05ace","name":"","server":"b775718a.10341","version":1,"service_domain":"notify","service":"canale","entityId":"","data":"{\"data\":{\"document\":{\"caption\":\"Riepilogo Notte\",\"url\":\"https://casanonna.duckdns.org:8123/local/notte/riepilogo.gif\"}},\"message\":\"Riepilogo Notte\",\"title\":\"Riepilogo Notte\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":40,"wires":[["9575f2e8.619b2"]]},{"id":"de9e1298.b06d8","type":"delay","z":"e11a3c4d.05ace","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":40,"wires":[["f5f3af6a.3311b"]]},{"id":"2291b5aa.a35cda","type":"change","z":"1a4baac.4a80555","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"attachments","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":240,"wires":[["1140291a.98f067"]]},{"id":"1140291a.98f067","type":"split","z":"1a4baac.4a80555","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":240,"wires":[["4de2c3c7.ff0cfc"]]},{"id":"4de2c3c7.ff0cfc","type":"change","z":"1a4baac.4a80555","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$join([\"/config/www/\", payload.fileName])","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":240,"wires":[["c303497e.733ed8","67c15477.5f607c"]]},{"id":"67c15477.5f607c","type":"file","z":"1a4baac.4a80555","name":"","filename":"/config/www/giardino_ip.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1000,"y":240,"wires":[["7ee787c3.4bfdd8","306ca6dc.e3713a"]]},{"id":"81a6e157.8920f","type":"delay","z":"1a4baac.4a80555","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":240,"wires":[["3f629497.48ad8c"]]},{"id":"2099a58e.dc2dca","type":"api-call-service","z":"1a4baac.4a80555","name":"","server":"b775718a.10341","version":1,"service_domain":"notify","service":"telegram_niccolo","entityId":"","data":"{\"data\":{\"photo\":{\"caption\":\"Casa Nonna\",\"url\":\"https://casanonna.duckdns.org:8123/local/giardino_ip.jpg\"}},\"message\":\"movimento dal giardino\",\"title\":\"Casa Nonna\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2040,"y":260,"wires":[[]]},{"id":"c303497e.733ed8","type":"image","z":"1a4baac.4a80555","name":"","width":160,"x":760,"y":280,"wires":[]},{"id":"7ee787c3.4bfdd8","type":"image","z":"1a4baac.4a80555","name":"","width":160,"x":1020,"y":280,"wires":[]},{"id":"306ca6dc.e3713a","type":"api-current-state","z":"1a4baac.4a80555","name":"","server":"b775718a.10341","version":"1","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1260,"y":240,"wires":[[],["81a6e157.8920f"]]},{"id":"3f629497.48ad8c","type":"within-time-switch","z":"1a4baac.4a80555","name":"","positionConfig":"38355701.b9cb88","startTime":"20:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"8:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","lastMsgOnStartOut":false,"lastMsgOnEndOut":false,"x":1650,"y":240,"wires":[[],["4548cfca.19ac8","2099a58e.dc2dca"]]},{"id":"9e857123.78045","type":"api-call-service","z":"1a4baac.4a80555","name":"","server":"b775718a.10341","version":1,"service_domain":"notify","service":"canale","entityId":"","data":"{\"data\":{\"photo\":{\"caption\":\"Casa Nonna\",\"url\":\"https://casanonna.duckdns.org:8123/local/giardino_ip.jpg\"}},\"message\":\"movimento dal giardino\",\"title\":\"Casa Nonna\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2010,"y":220,"wires":[[]]},{"id":"4548cfca.19ac8","type":"weekday","z":"1a4baac.4a80555","name":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":1820,"y":240,"wires":[["9e857123.78045"],[]]},{"id":"368a8c16.f1b354","type":"fs-ops-move","z":"1a4baac.4a80555","name":"","sourcePath":"/config/www","sourcePathType":"str","sourceFilename":"giardino_ip.jpg","sourceFilenameType":"str","destPath":"/config/www/notte/prep","destPathType":"str","destFilename":"cattiva.jpg","destFilenameType":"str","link":false,"x":600,"y":500,"wires":[["86b260ca.77523"]]},{"id":"af1674b6.f5e4b8","type":"api-call-service","z":"1a4baac.4a80555","name":"","server":"b775718a.10341","version":"1","service_domain":"notify","service":"telegram_niccolo","entityId":"","data":"{\"data\":{\"photo\":{\"caption\":\"Casa Nonna\",\"url\":\"https://casanonna.duckdns.org:8123/local/retro.jpg\"}},\"message\":\"movimento dal portico\",\"title\":\"Casa Nonna\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2040,"y":380,"wires":[[]]},{"id":"5d1ed957.7004e8","type":"file","z":"1a4baac.4a80555","name":"","filename":"/config/www/retro.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":980,"y":380,"wires":[["823110a0.37762","2c9b7a23.2f3be6"]]},{"id":"4bf39f74.aaa36","type":"change","z":"1a4baac.4a80555","name":"","rules":[{"t":"set","p":"filename","pt":"msg","to":"$join([\"/config/www/\", payload.fileName])","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":380,"wires":[["c4b5fe36.d0b04","5d1ed957.7004e8"]]},{"id":"5fcbf492.eda7ac","type":"split","z":"1a4baac.4a80555","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":380,"wires":[["4bf39f74.aaa36"]]},{"id":"ced2d7b6.0699d8","type":"change","z":"1a4baac.4a80555","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"attachments","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":380,"wires":[["5fcbf492.eda7ac"]]},{"id":"2c9b7a23.2f3be6","type":"image","z":"1a4baac.4a80555","name":"","width":160,"x":1020,"y":420,"wires":[]},{"id":"c4b5fe36.d0b04","type":"image","z":"1a4baac.4a80555","name":"","width":160,"x":760,"y":420,"wires":[]},{"id":"9585bc3.e3ff84","type":"e-mail in","z":"1a4baac.4a80555","name":"ricevi mail da \"notificagpcasa\"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"10","fetch":"auto","inputs":0,"x":140,"y":380,"wires":[["ced2d7b6.0699d8"]]},{"id":"823110a0.37762","type":"api-current-state","z":"1a4baac.4a80555","name":"","server":"b775718a.10341","version":"1","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1260,"y":380,"wires":[[],["a91c0d5a.aca91"]]},{"id":"fa4726e2.620928","type":"delay","z":"1a4baac.4a80555","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1480,"y":380,"wires":[[]]},{"id":"fe71cb0c.111118","type":"within-time-switch","z":"1a4baac.4a80555","name":"","positionConfig":"38355701.b9cb88","startTime":"20:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"8:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","lastMsgOnStartOut":false,"lastMsgOnEndOut":false,"x":1790,"y":380,"wires":[[],["af1674b6.f5e4b8"]]},{"id":"a91c0d5a.aca91","type":"weekday","z":"1a4baac.4a80555","name":"","sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"x":1640,"y":380,"wires":[["fe71cb0c.111118"],[]]},{"id":"9575f2e8.619b2","type":"delay","z":"e11a3c4d.05ace","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":40,"wires":[["52ce6772.6458e8"]]},{"id":"174909b7.d92846","type":"e-mail in","z":"1a4baac.4a80555","name":"ricevi mail da \"notificacasanonna\"","protocol":"IMAP","server":"imap.gmail.com","useSSL":true,"port":"993","box":"INBOX","disposition":"Read","criteria":"UNSEEN","repeat":"10","fetch":"auto","inputs":0,"x":160,"y":240,"wires":[["2291b5aa.a35cda"]]},{"id":"86b260ca.77523","type":"debug","z":"1a4baac.4a80555","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":500,"wires":[]},{"id":"decc7f6c.91bd4","type":"inject","z":"1a4baac.4a80555","name":"Controlla ogni 16 secondi","topic":"helo","payload":"","payloadType":"date","repeat":"16","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":500,"wires":[["f1ffddfd.69e01"]]},{"id":"e27f697d.d322d8","type":"exec","z":"e11a3c4d.05ace","command":"rm -f /config/www/notte/gif/*.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Clear Images","x":470,"y":180,"wires":[[],[],[]]},{"id":"3f218c53.a68ca4","type":"inject","z":"e11a3c4d.05ace","name":"Pulisci le immagini alle 19:59","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"59 19 * * *","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["e27f697d.d322d8"]]},{"id":"f7937ca2.8cd5f","type":"exec","z":"e11a3c4d.05ace","command":"ls  /config/www/laboratorio/base/  -1 | wc -l","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Conta le immagini ","x":490,"y":300,"wires":[["157a231e.59135d"],[],[]]},{"id":"157a231e.59135d","type":"switch","z":"e11a3c4d.05ace","name":"6 foto?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"12","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":680,"y":300,"wires":[["6ea9dd5c.fe8ee4"]]},{"id":"4f182b5c.92f2f4","type":"inject","z":"e11a3c4d.05ace","name":"controlla le foto ogni minuto","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["f7937ca2.8cd5f"]]},{"id":"457c8299.ac781c","type":"exec","z":"e11a3c4d.05ace","command":"/config/www/laboratorio_cambia_nome.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Make gif lab","x":1010,"y":300,"wires":[["434e5bee.aaeb14"],[],[]]},{"id":"434e5bee.aaeb14","type":"change","z":"e11a3c4d.05ace","name":"Finito-laboratorio","rules":[{"t":"set","p":"payload","pt":"msg","to":"Laboratorio-Fatto.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":300,"wires":[["ba16bb2c.e70308","b559b3cc.8808c"]]},{"id":"ba16bb2c.e70308","type":"delay","z":"e11a3c4d.05ace","name":"","pauseType":"delay","timeout":"40","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":320,"wires":[["a2b4114b.fa639"]]},{"id":"e9a1abc.50d4a58","type":"api-call-service","z":"e11a3c4d.05ace","name":"","server":"b775718a.10341","version":1,"service_domain":"notify","service":"telegram_niccolo","entityId":"","data":"{\"data\":{\"document\":{\"caption\":\"Laboratorio\",\"url\":\"https://casanonna.duckdns.org:8123/local/laboratorio/riepilogo.gif\"}},\"message\":\"Laboratorio\",\"title\":\"Laboratorio\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1900,"y":320,"wires":[["cac84b8f.b49298"]]},{"id":"f1ffddfd.69e01","type":"within-time-switch","z":"1a4baac.4a80555","name":"","positionConfig":"38355701.b9cb88","startTime":"20:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"8:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","lastMsgOnStartOut":false,"lastMsgOnEndOut":false,"x":410,"y":500,"wires":[["368a8c16.f1b354"],[]]},{"id":"e7fcaf7b.ba4c5","type":"exec","z":"e11a3c4d.05ace","command":"rm -f /config/www/laboratorio/gif/*.jpg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Clear Images","x":1570,"y":260,"wires":[[],[],[]]},{"id":"1d3df41c.97dabc","type":"api-call-service","z":"1a4baac.4a80555","name":"","server":"b775718a.10341","version":1,"service_domain":"notify","service":"canale","entityId":"","data":"{\"data\":{\"photo\":{\"caption\":\"Casa Nonna\",\"url\":\"https://casanonna.duckdns.org:8123/local/portico.jpg\"}},\"message\":\"movimento dal portico\",\"title\":\"Casa Nonna\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2010,"y":60,"wires":[[]]},{"id":"6ea9dd5c.fe8ee4","type":"delay","z":"e11a3c4d.05ace","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":300,"wires":[["457c8299.ac781c"]]},{"id":"b559b3cc.8808c","type":"delay","z":"e11a3c4d.05ace","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1400,"y":260,"wires":[["e7fcaf7b.ba4c5"]]},{"id":"83125e25.fca78","type":"api-call-service","z":"e11a3c4d.05ace","name":"","server":"b775718a.10341","version":1,"service_domain":"notify","service":"canale","entityId":"","data":"{\"data\":{\"document\":{\"caption\":\"Laboratorio\",\"url\":\"https://casanonna.duckdns.org:8123/local/laboratorio/riepilogo.gif\"}},\"message\":\"Laboratorio\",\"title\":\"Laboratorio\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2330,"y":320,"wires":[[]]},{"id":"cac84b8f.b49298","type":"within-time-switch","z":"e11a3c4d.05ace","name":"","positionConfig":"38355701.b9cb88","startTime":"20:00","startTimeType":"entered","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"endTime":"8:00","endTimeType":"entered","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"tsCompare":"0","lastMsgOnStartOut":false,"lastMsgOnEndOut":false,"x":2130,"y":320,"wires":[[],["83125e25.fca78"]]},{"id":"a2b4114b.fa639","type":"api-current-state","z":"e11a3c4d.05ace","name":"","server":"b775718a.10341","version":"1","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"person.niccolo","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1620,"y":320,"wires":[[],["e9a1abc.50d4a58"]]},{"id":"db5a011d.f210e","type":"inject","z":"1a4baac.4a80555","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":640,"wires":[["70e7d7e6.387248"]]},{"id":"70e7d7e6.387248","type":"debug","z":"1a4baac.4a80555","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":640,"wires":[]},{"id":"f3055ba0.65ac38","type":"inject","z":"f8898bd.c141078","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["cd9a6583.6b76d8"]]},{"id":"cd9a6583.6b76d8","type":"api-call-service","z":"f8898bd.c141078","name":"","server":"f68fe6e6.c403a8","version":1,"service_domain":"homeassistant","service":"check_config","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":140,"wires":[["ac5b6df5.1e7bb"]]},{"id":"ac5b6df5.1e7bb","type":"debug","z":"f8898bd.c141078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":140,"wires":[]}]